<app-graphic></app-graphic>
<app-navigation-menu></app-navigation-menu>

<header class="header">
    <div class="header-content">
        <h1 class="header-title">TICERAPPS</h1>
        <div class="button-container pt-3">
            <a href="https://play.google.com/store/apps/dev?id=8553325085989558637&gl=US" target="_blank"
                class="button-link">
                <i class="fab fa-google-play"></i>
            </a>
            <a href="https://apps.apple.com/us/developer/brandon-rorie/id1603178697" target="_blank"
                class="button-link">
                <i class="fab fa-app-store"></i>
            </a>
            <a href="https://github.com/btror" target="_blank" class="button-link">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="section-info m-3 mt-4">
        <h4>About</h4>
        <p>
            In addition to my professional work, I have also developed several applications independently. One notable
            project is ticerapps.com, where I single-handedly designed, developed, and deployed a range of innovative
            and user-friendly applications. This experience allowed me to further enhance my skills in various web
            development technologies and gain valuable insights into the full project lifecycle.
        </p>
    </div>
</div>
