<app-graphic></app-graphic>
<app-navigation-menu></app-navigation-menu>

<header class="header">
    <div class="header-content">
        <h1 class="header-title">TICERAPPS</h1>
        <p class="header-subtitle">Mobile & Desktop</p>
        <div class="button-container pt-3">
            <a href="https://play.google.com/store/apps/dev?id=8553325085989558637&gl=US" target="_blank"
                class="button-link">
                <i class="fab fa-google-play"></i>
            </a>
            <a href="https://apps.apple.com/us/developer/brandon-rorie/id1603178697" target="_blank"
                class="button-link">
                <i class="fab fa-app-store"></i>
            </a>
            <a href="https://github.com/btror" target="_blank" class="button-link">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</header>

<div class="container apps-menu">
    <div class="dropdown">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
            <i class="fas fa-sort-amount-down"></i> Sort By
        </button>
        <ul class="dropdown-menu" [ngClass]="{ 'open': dropdownOpen }">
            <li *ngFor="let option of sortOptions" (click)="selectSortOption(option)">
                <a tabindex="0" (keydown.enter)="selectSortOption(option)">{{ option.label }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="app-section-grid container">
    <div *ngFor="let section of appSections" class="app-section">
        <app-app-section [title]="section.title" [description]="section.description" [platform]="section.platform"
            [link]="section.link" [iconPath]="section.iconPath" [price]="section.price"></app-app-section>
    </div>
</div>

<app-footer></app-footer>