<div class="container about-section mt-4">
    <div class="col profile-info info-section-1">
        <h4>About</h4>
        <p>
            I'm a passionate software developer with expertise in Angular, AngularJS, TypeScript, Salesforce Lightning
            Web Components, and Apex. I have hands-on experience working with a variety of modern web technologies,
            including HTML, CSS, and JavaScript frameworks, as well as Salesforce cloud development tools.
        </p>
        <p>
            Throughout my career, I have had the opportunity to work on numerous projects, each contributing to my
            growth and proficiency in building scalable and interactive web applications. I have worked on various
            projects, leveraging my skills in modern web frameworks and
            technologies to create robust and efficient solutions. Additionally, I have contributed to the development
            of Salesforce applications using Lightning Web Components, AngularJS, and Apex.
        </p>
    </div>
    <div class="col profile-picture mt-4">
        <img src="../../assets/about.jpg" alt="About Graphic">
    </div>
</div>

<div class="container mt-4">
    <div class="profile-info">
        <p>
            In addition to my professional work, I have also developed several applications independently. One notable
            project is ticerapps.com, where I single-handedly designed, developed, and deployed a range of innovative
            and user-friendly applications. This experience allowed me to further enhance my skills in various web
            development technologies and gain valuable insights into the full project lifecycle.
        </p>
    </div>
</div>
