<app-graphic></app-graphic>
<app-navigation-menu></app-navigation-menu>

<header class="header">
    <div class="header-content">
        <h1 class="header-title">Brandon Ticer Rorie</h1>
        <p class="header-subtitle">Welcome to my developer page</p>
        <div class="button-container pt-3">
            <a href="https://play.google.com/store/apps/details?id=your-app-package-name" target="_blank"
                class="button-link">
                <i class="fab fa-google-play"></i>
            </a>
            <a href="https://itunes.apple.com/us/app/your-app-name/idyour-app-id?mt=8" target="_blank"
                class="button-link">
                <i class="fab fa-app-store"></i>
            </a>
            <a href="https://github.com/your-github-account" target="_blank" class="button-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://instagram.com/your-instagram-account" target="_blank" class="button-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://youtube.com/your-youtube-account" target="_blank" class="button-link">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</header>