<app-graphic></app-graphic>
<app-navigation-menu></app-navigation-menu>

<header class="header">
    <div class="header-content">
        <h1 class="header-title">Brandon Ticer Rorie</h1>
        <p class="header-subtitle">Welcome to my developer page</p>
        <div class="button-container pt-3">
            <a href="https://play.google.com/store/apps/dev?id=8553325085989558637&gl=US" target="_blank"
                class="button-link">
                <i class="fab fa-google-play"></i>
            </a>
            <a href="https://apps.apple.com/us/developer/brandon-rorie/id1603178697" target="_blank"
                class="button-link">
                <i class="fab fa-app-store"></i>
            </a>
            <a href="https://github.com/btror" target="_blank" class="button-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/brandon-rorie1999/" target="_blank" class="button-link">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/b.ticer.r/" target="_blank" class="button-link">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</header>

<app-about></app-about>